@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* page fade in */
#thePage {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 1s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end of page fade in */

/* my page */
#thePage {
  display: none;
}

/* the loader */
.lds-ring {
  display: block;
  position: relative;
  text-align: center;
  width: 64px;
  height: 64px;
  margin: 20% auto;
}
.lds-ring div {
  /* box-sizing: border-box; */
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  end of loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 53px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/*  */
button {
  border: none;
  color: #fff;
  padding: 10px;
}

#playAgainScreen {
  margin-top: 9%;
  display: none;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 100;
}

#loser {
  background-color: red;
  color: white;
}

#winner {
  background-color: green;
  color: white;
}

#queue {
  display: none;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
  /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.05rem;
}

body {
  background: url(background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

li,
ul {
  list-style-position: inside;
}

.blue {
  color: wheat;
}

#winner1 {
  color: green;
  font-weight: bolder;
}

#loser1 {
  color: red;
  font-weight: bolder;
}

#winnerscore {
  color: green;

  font-weight: bolder;
}

#loserscore {
  color: red;
  font-weight: bolder;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
#roommessage {
  color: azure;
}

#playercard1,
#playercard2 {
  transition: transform 0.2s; /* Animation */
  display: inline-block;
}

#playercard1:hover,
#playercard2:hover {
  transform: scale(1.1);
}

#vs {
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  margin-left: 8%;
  margin-right: 8%;
}

#playAgain {
  border-radius: 25px;
  width: 165px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  background-color: gray;
  color: white;
}

#ReadyScreen {
  color: white;
  height: 100%;
  /* background-image: url("background.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: transform 0.2s; /* Animation */
  text-align: center;
  margin: 8%;
}

#ready:hover {
  background-color: rgb(161, 161, 161);
  transform: scale(1.03);
}

button {
  background: #265f82;

  cursor: pointer;
  transition: background 0.3s ease;
}
button:hover {
  background: #1f4c69;
}
button:disabled {
  cursor: default;
  background: #698ea5;
}

.form-field {
  margin: 20px 0;
}
.form-field > * {
  width: 100%;
}
.form-field label {
  display: block;
  margin-bottom: 7px;
}
.form-field input,
.form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.chat {
  display: flex;
}
.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: -moz-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, rgba(49, 84, 129, 1)),
    color-stop(100%, rgba(39, 107, 130, 1))
  );
  background: -webkit-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -o-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -ms-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: linear-gradient(
    325deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
}

/* Fade out effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.puff-out-center {
  -webkit-animation: puff-out-center 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
    both;
  animation: puff-out-center 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    /* -webkit-filter: blur(0px);
    filter: blur(0px); */
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(1.5);
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(1.5);
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */
    opacity: 0;
  }
}

#vs:hover {
  /* transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg); */
}

.tilt {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

/* end of effects */

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 230px;
}

canvas {
  opacity: 1;
  padding: 5px;
  background-color: white;
}

button {
  background-color: cadetblue;
  opacity: 110;
}

#wrap {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}
#myContainer2 canvas {
  background-color: lightblue;
  width: 50%;
}
#myContainer canvas {
  background-color: lightcoral;
  width: 50%;
}

/* style.css */

h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 9px;
  padding-top: 12px;
}

#player1,
#player2 {
  text-transform: capitalize;
  opacity: 0.5;
  color: whitesmoke;
  text-shadow: 1px 1px rgb(117, 117, 185);
  padding-bottom: 5px;
}

#player1ready,
#player2ready {
  opacity: 0.82;
  padding: 2px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 30;
  background-color: gray;
  text-shadow: 2px 2px black;
  color: peachpuff;
}

#ready {
  background-color: #e1e1e1;
  color: black;
  border-radius: 22px;
  width: 15%;
  margin-top: 5%;
  display: none;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 0;
}

#wrap {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 3%;
}
#myContainer2 canvas {
  width: 50%;
}
#myContainer canvas {
  width: 50%;
}

/* style.css */
#settings {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 11px;
  margin-right: 11px;
}

#avatar {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 11px;
  margin-right: 71px;
}

#avatar:hover {
  transform: scale(1.2);
}

#settings:hover {
  transform: scale(1.2);
}
/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 25px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* Snackbar end */
